body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin-block-start: 0;
}

header.header, footer.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}


footer a {
    color:coral;
    text-decoration: none;
    font-size: large;
}

footer a:hover, footer a:active {
    color: lightgray;
    text-decoration: underline;
}

footer img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.page-title {
    font-family: 'Lora', serif;
    font-size: 2.5em;
    font-weight: bold;
    color: coral;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    padding: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.card {
    display: flex;
    flex-direction: column; 
    position: relative;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-no-padding {
    display: flex;
    flex-direction: column; 
    position: relative;
    padding: 0px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: lightcoral;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-internal {
    padding: 20px;
    margin: 0px;
}

.block-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.read-more-content {
    display: none; 
    margin: 10px 0;
}

.read-more-content.visible {
    display: block; 
}

.read-less-content {
    display: block;
    margin: 0;
    color:#333;
    text-align: center;
}

.read-less-content.invisible {
    display: none;
}

.primary-button {
    padding: 8px;
    background-color: red;
    color: #eee;
    border: 0;
    border-radius: 3px;
    font-weight: bolder;
    font-size: medium;
    cursor: pointer;
    transition: transform 0.1s, background-color 0.1s; 
}

.primary-button:active {
    background-color: darkred; 
    transform: scale(0.98);
}

.secondary-button {
    padding: 8px;
    background-color: lightgray;
    color: #222;
    border: 0;
    border-radius: 3px;
    font-weight: bolder;
    font-size: medium;

    cursor: pointer;
    transition: transform 0.1s, background-color 0.1s; 
}

.bm {
    margin-bottom: 10px;
}

.secondary-button:active {
    background-color: gray; 
    transform: scale(0.98); 
}

.news-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.news-item {
    /*flex: 1 1 calc(33.333% - 10px);
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;*/
    position: relative;
    background-size: cover; /* A kép kitölti a kártya teljes területét */
    background-position: center; /* A kép középre igazítása */
    width: 100%;
    height: 200px; /* Kártya magassága */
    display: flex;
    justify-content: center; /* A szöveg középre igazítása vízszintesen */
    align-items: center; /* A szöveg középre igazítása függőlegesen */
    color: white; /* Fehér szöveg */
    text-align: center; /* A szöveg középre igazítása */
    padding: 0 20px; /* Padding a szöveg körül */
    overflow: hidden; /* Ha a szöveg túl hosszú, ne lógjon ki */
}




.news-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.news-item a {
    position: absolute; /* Pozicionálás a kártyán belül */
    bottom: 20px; /* Térköz a kártya aljától */
    left: 20px; /* Térköz a kártya bal szélétől */
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Árnyék a szövegen */
    background-color: rgba(0, 0, 0, 0.5); /* Félig átlátszó háttér a szöveghez */
    padding: 10px;
    border-radius: 5px; /* Lekerekített sarkok */
    max-width: 80%; /* Maximum szélesség */
}

.news-item a:hover, .news-item a:active {
    color: coral; /* Piros szín a hover állapotban (light coral) */
    text-decoration: underline;
}

.contact {
    text-align: center;
}
@media (max-width: 768px) {
    .news-item {
        flex: 1 1 100%;
        height: 150px; 
    }

    .news-item a {
        font-size: 1em; 
    }
}


.counter-title {
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 20px 0 20px;
}
.counter {
    font-size: 2rem;
    font-weight: bold;
    text-transform: lower;
    text-align: center;
    margin: 0 20px 0 20px;    
}


/* Info ikon stílusa */
.info-icon {
    cursor: pointer;
    font-size: 0.8em;
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    /*width: 30px;*/
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: auto;
    align-self: flex-end;
    margin: 0 20px 20px;
    padding: 0 5px 0 5px;
}

/* Magyarázó doboz alapértelmezetten rejtve */
.info-box {
    box-sizing: border-box;
    display: none;
    background-color: #333;
    color: #fff;
    padding: 15px;
    margin-top: 10px;
    border-radius: 0 0 5px 5px;
    width: 100%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Láthatóvá válik, ha az "active" osztály rajta van */
.info-box.active {
    display: block;
}

.info-box a {
    color: lightcoral; 
    text-decoration: none;
}

.info-box a:hover, .info-box a:active {
    color: lightgray;
    text-decoration: underline;
}

ol {
    margin-top: 0;
}

ul {
    margin-top: 0;
}
